.navbar {
  box-shadow: none;

  .navbar-nav {
    .nav-link {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      /* Neutral/gray 300 */

      color: #8f9bb7;
    }
    .active {
      color: #ffffff;
    }
  }
}
@media only screen and (max-width: 992px) {
  .navbar {
    box-shadow: none;

    .navbar-nav {
      text-align: center;
      margin: 20px 0px;
      .nav-link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        /* Neutral/gray 300 */

        color: #8f9bb7;
      }
      .active {
        color: #ffffff;
      }
    }
    .btn-oke {
      margin: auto;
      display: flex;
      justify-content: center;
      max-width: 300px;
      margin-bottom: 20px;
    }
  }
}
